
@{
    ViewData["Title"] = "Employees";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/dt/dt-1.10.18/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/w/dt/dt-1.10.18/datatables.min.js"></script>

<script src="~/js/Employees/Employees.js"></script>
<h1>Employees</h1>
<div class="card-body">
    <div class="row">
        <div class="col-md-3">
            <input type="number" class="form-control" id="txtGetEmployees" name="getEmployees" placeholder="Enter id or left empty" />
        </div>
        <div class="col-md-3">
            <input type="button" class="btn btn-success" id="btnGetEmployees" name="getEmployees" value="Get Employees" />
        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="employeesTable" class="display" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>ContractTypeName</th>
                        <th>roleId</th>
                        <th>roleName</th>
                        <th>roleDescription</th>
                        <th>hourlySalary</th>
                        <th>monthlySalary</th>
                        <th>totalSalary</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>